<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/automate</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.automate.entity.AdminUserEntity"/>
      <mapping class="com.automate.entity.SourceCodeEntity"/>
      <mapping class="com.automate.entity.SourceCodeBranchEntity"/>
      <mapping class="com.automate.entity.Ca2BuildLogEntity"/>
      <mapping class="com.automate.entity.AssemblyLineEntity"/>
      <mapping class="com.automate.entity.AssemblyLineLogEntity"/>
      <mapping class="com.automate.entity.Ca2AssemblyLineTaskLogEntity"/>

  </session-factory>
</hibernate-configuration>